@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@300&display=swap');
:root{
    --color-pink:#ff4c68;
    --font-montserrat:'Montserrat', sans-serif;
    --font-ubuntu:'Ubuntu', sans-serif;
}
*{
    font-family: var(--font-ubuntu);
}
#title{
    background-color: var(--color-pink);
}
.h1{
    font-family:var(--font-montserrat);
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}
.container-fluid{
    padding: 3% 15%;
}
/*Navigation Bar*/
.navbar-brand{
    font-family: var(--font-ubuntu);
    font-size: 2.5rem;
    font-weight:bold;
}
.navbar{
    margin: 0;
    padding: 0 0 4.5rem 0;
}
.logo-navbar{
    padding-left: 0px;
    padding-right: 0px;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}